<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container" fxLayout="column" fxLayoutGap="50px">
    <!-- Navbar brand -->
    <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
    <div *ngIf="isUserLoggedIn">
      <a routerLink="/todo" routerLinkActive="active" ariaCurrentWhenActive="page">Todo</a>
    </div>
    <div *ngIf="isUserLoggedIn; else isLogOut">
      <a class="nav-link" (click)="reloadCurrent()" routerLink="/logout">Logout</a>
    </div>
    <div *ngIf="isAdmin">
      <a class="nav-link" routerLink="/detail">Users Usage</a>
    </div>
    <ng-template #isLogOut>
      <a class="nav-link" routerLink="/login">Login</a>
    </ng-template>
    <!-- Collapsible wrapper -->
  </div>
 </nav>
<router-outlet></router-outlet>

 

