.container {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #7F00FF;
  color: #fff;
  display: flex;
  padding: 0 16px;
  align-items: center;
  height: 56px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  column-gap: 1rem;
}

a {
  color: #75E6DA;
}
